# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Coffee Machine (JavaScript)/*
!/Coffee Machine (JavaScript)/task/
/Coffee Machine (JavaScript)/task/*
!/Coffee Machine (JavaScript)/task/main.js
